.masthead {
    background-color: #fff;
    margin-bottom: 40px;

    &__container {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__title {
        font-family: $serif;
        font-weight: 400;
        line-height: 1;
        padding: 20px 0;
        text-align: center;
        margin: 0;
        text-transform: uppercase;

        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}