@mixin center ($position) {
	position: $position;
	left: 50%;
	top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@mixin centerX ($position) {
	position: $position;
	left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

@mixin centerY ($position) {
	position: $position;
	top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

@mixin clear {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}