@import "compass/reset";
@import "compass";

@import "font-awesome/scss/font-awesome";

$golden-ratio: (1 + sqrt(5))/2;

body {
    font-family: 'proximia-nova', sans-serif;
    font-weight: 400;
    color: #333;

    padding-top: 60px;
}

a {
    @include transition(color .25s ease);
    text-decoration: none;

    &:hover {
        color: #0cc;
    }
}

#masthead {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    h1 {
        text-align: center;
    }

    a {
        display: inline-block;
        line-height: 60px;
        
        color: #ccc;
        letter-spacing: -1px;
        font-family: 'futura-pt';
        font-size: 36px;
        font-weight: 500; 
        text-align: center;
        text-transform: uppercase;

        &:hover {
            color: #0cc;
        }
    }
}

#details {
    position: absolute;
    left: 0;
    line-height: 60px;
    top: 0;

    padding: 0 20px;
}

#controls {
    position: absolute;
    right: 0;
    top: 0;

    padding: 10px;

    button {
        cursor: pointer;
        outline: none;
        background-color: #333;
        color: #fff;
        border-radius: 4px;
        border: 0;
        line-height: 40px;
        padding: 0 20px;
        margin: 0;
    }
}

#playlist {
    padding: 40px 0;
}

.song {
    margin: 0 auto 80px;
    min-width: 600px;
    width: 100% - (($golden-ratio - 1) * 100%);

    .media {
        background-color: #000;
        cursor: pointer;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;
    }

    .caption {
        padding: 20px;
    }

    h2 {
        font-family: 'futura-pt';
        font-size: 32px;
        font-weight: 400;
    }

    iframe {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    &.youtube {

        img {
            width: 100%;
        }
    }

    &.soundcloud {
        .media {
            background-color: #000;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 56.25%;
        }
    }

    &.playing {
        width: (($golden-ratio - 1) * 100%);

        img {
            display: none;
        }
    }
}