* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: $sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: $text-color;
}

.no-scroll {
    overflow: hidden;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;

    &--float {
        @include clear;
    }

    &--flex {
        display: flex;
        align-items: center;
    }

    &--filter {
        margin-top: 20px;
    }
}

.masthead {
    background-color: rgba(#fff, .95);
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 0 40px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;

    &__fixed {
        position: fixed;
        top: -70px;
    }

    &__title {
        margin: 0;
        float: left;
        font-size: 32px;
        font-family: $display;
        font-weight: 400;
        line-height: 50px;

        &__link {
            text-decoration: none;
            color: $text-color;
        }
    }
    
    &__nav {
        @include clear;
        float: right; 
    }

    &__link {
        float: left;
        font-size: 16px;
        display: block;
        line-height: 50px;
        padding: 0;
        margin: 0 0 0 20px;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        text-decoration: none;
        color: $text-color;
    }

    &__action {
        float: left;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0 20px 0 0;
        line-height: 40px;
        outline: none;

        &--active {
            border-bottom: solid 3px $brand-color;
            margin-bottom: -2px;
        }

        &--right {
            float: right;
            margin: 0 0 0 20px;
        }
    }
}

.list {
    margin: 0 auto;
    padding-top: 106px;

    &__empty {
        margin-top: 40px;
        font-size: 21px;
        color: #ccc;
        font-family: $display;
    }
}

.aspect-ratio {
    background-color: #000;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    transition: padding .5s ease;

    &--soundcloud img {
        display: block;
        margin: 0 auto;
        width: 56.25%;
    }

    &--youtube img {
        display: block;
        margin: 0 auto;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

.modal {
    position: fixed;
    background-color: rgba(#000, .5);
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 5000;

    &__content {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 40px 30px;
    }

    &__preview {
        margin: 50px auto 0;
        max-width: 500px;
        width: 100%;
        display: block;
    }

    &__form {
        background-color: #fff;
        max-width: 500px;
        margin: 0 auto 33vh;
        padding: 40px;
    }
}

.song {
    @include clear;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    position: relative;

    &:hover {
        .song__actions {
            opacity: 1;
        }
    }

    &__media {
        flex: 0 0 auto;
        display: block;
        width: 150px;
    }

    &__image {
        flex: 0 0 auto;
        display: block;
        width: 100%;
    }

    &__content {
        flex: 1 1 auto;
        padding: 20px 150px 20px 20px;
        position: relative;
    }

    &__title {
        @include ellipsis;
        font-family: $display;
        margin: 0;
        line-height: 1.2;
        font-weight: 400;
        font-size: 32px;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        max-width: 600px;
    }

    &__actions {
        transition: all .25s ease;
        @include clear;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        // opacity: 0;
        white-space: nowrap;
        min-width: 120px;
    }

    &__button {
        display: inline-block;
        transition: all .25s ease;
        background-color: transparent;
        padding: 0;
        margin: 0 0 0 10px;
        width: 60px;
        height: 60px;
        color: #999;
        border-radius: 30px;
        font-size: 21px;
        border: $border;
        outline: none;

        &:hover {
            color: $brand-color;
            border-color: $brand-color;
        }
    }
}

.delete {
    @include clear;
    display: inline-block;
    
    &__initiate {

    }

    &__confirm {
        display: none;
        min-width: 60px;
        height: 60px;
        padding: 0 20px;
        margin: 0;
        border: $border;
        background-color: transparent;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;

        &:hover {
            color: $brand-color;
            border-color: $brand-color;
            z-index: 2;
        }

        &--delete {
            border-radius: 30px 0 0 30px;
            margin-right: -4px;
            padding: 0 20px 0 30px;
        }
        &--cancel {
            border-radius: 0 30px 30px 0;
            padding: 0 30px 0 20px;
        }
    }

    &--confirm {
        margin-left: 10px;

        .delete__initiate {
            display: none;
        }

        .delete__confirm {
            display: inline-block;
        }
    }
}

.form-group {

    &__label {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        display: block; 
        margin-bottom: 5px;
        display: block;
    }

    &__control {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 2px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        line-height: 40px;
        padding: 0 10px; 

        &--input {
            height: 42px;
        }

        &--select {
            height: 42px;
        }

        &--textarea {
            padding: 10px;
            line-height: 1.5;
        }
    }
}

.button {
    background-color: transparent;
    padding: 0 40px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 2px;
    border: $border;
    padding: 0;
    margin: 40px 0 0;
    width: 100%;
    display: block;
}

.profile {
    max-width: 500px;
    padding: 0 40px 40px;
    margin: 0 auto;

    &__group {
        margin-top: 90px;
    }
}