* {
    box-sizing: border-box;
}

body {
    color: $text-color;
    font-family: $body-font;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $brand-color;
    text-decoration: none;
}

.masthead {
    @include clearfix;
    background-color: #fff;
    border-bottom: $border;
    padding: 0 $unit*2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
    h1 {
        font-family: $heading-font;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
        letter-spacing: -1px;
        line-height: 1;
        float: left;
    }

    a {
        display: block;
        padding: $unit 0;
        line-height: $unit*2;
        color: $light-gray;

        &:hover {
            color: $brand-color;
        }
    }
}

.controls {
    @include clearfix;
    float: right;
    padding: $unit 0;

    button {
        float: left;
        width: $unit*2;
        height: $unit*2;
        line-height: $unit*2;
        text-align: center;
        border: none;
        background-color: transparent;
    }
}

.playlist {
    padding: $unit*6 0;
}

.song {
    display: block;
    margin: 0 auto 80px;
    min-width: 600px;
    position: relative;
    width: 100% - (($golden-ratio - 1) * 100%);

    .media {
        border: $border;
        background-color: $text-color;
        cursor: pointer;
        position: relative;
        width: 100%;
    }

    iframe {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    &.youtube {

        img {
            display: block;
            width: 100%;
        }
    }

    &.soundcloud {
        .media {
            background-color: #000;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 56.25%;
        }
    }

    &.playing {
        width: (($golden-ratio - 1) * 100%);

        .media {
            height: 0;
            padding-bottom: 56.25%;
        }

        .caption {
            padding: 20px;
        }

        img {
            display: none;
        }
    }
}

.caption {
    padding: 20px 0;

    h2 {
        @include ellipsis();
        font-weight: 400;
        font-family: $heading-font;
        margin: 0;
        line-height: 1;
        margin: 0 0 2px;
    }

    .meta {
        color: #999;
        margin: 0;
    }

    .divider {
        margin: 0 3px;
    }
}