@mixin center ($position) {
	position: $position;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerX ($position) {
	position: $position;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centerY ($position) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

@mixin ellipsis () {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}