.admin .masthead {
    @include clearfix;
    font-family: $sans-serif;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    a {
        display: block;
        color: $text-color;
    }

    h1 {
        float: left;
        font-family: $serif;
        font-size: 21px;
        margin: 0;
        font-weight: 400;

        a {
            line-height: 50px;
        }

        i {
            margin-right: 5px;
        }
    }
}