html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	line-height: 1.4;
	overflow-x: hidden; 
	position: relative;
}

a {
	text-decoration: none;
}

#menu {
	left: -300px;

	#tagline {
		color: #ffffff;
		font-family: "futura-pt", futura, "century gothic", sans-serif;
		font-weight: 400;
		line-height: 60px;
		margin: 0 0 20px;
		padding: 0 40px;
		text-transform: uppercase;
	}

	&.open-menu {
		left: 0;
	}
}

#autoplay {
	right: -300px;

	&.open-autoplay {
		right: 0;
	}
}

.panel {

	@include transition(all .5s ease);
	background-color: $text-color;
	height: 100%;
	padding-top: 80px;
	position: fixed;
	width: 300px;

	ul {
	list-style: none;
	margin: 0 0 40px;
	padding: 0 40px;

		li {
			margin-bottom: 10px;
		}

		a, span {
			color: #fff;
			cursor: pointer;
			display: block;

			&:hover {
				@include transition(color .3s ease);
				color: $primary-color;
			}
		}
	}
}

.sub-menu {
	list-style: none;
	margin: 10px 0 0;
	padding: 0 0 0 20px;

	li:last-child {
		margin: 0;
	}
}

#profile {
	color: $gray;
	margin: 20px auto 60px;
	position: relative;
	text-align: center;
	width: 600px;

	img {
		@include border-radius(50%);
		border: 1px solid $gray;
		height: 200px;
		max-width: 200px;
		overflow: hidden;
	}

	p {
		margin: 0;
	}

	#name {
		font-family: "futura-pt", futura, "century gothic", sans-serif;
		font-weight: 400;
		font-size: 2em;
		left: 0px;
		margin: 0;
		position: absolute;
		text-align: right;
		top: 80px;
		width: 170px;
	}

	#bio {
		height: 88px;
		position: absolute;
		right: 0px;
		text-align: left;				
		top: 58px;
		width: 180px;
	}
}

#wrap {
	@include transition(all .5s ease);
	background-color: #ffffff;
	padding: 80px 0;
	position: absolute;
	width: 100%;

	&.open-menu {
		margin-left: 300px;
	}

	&.open-autoplay {
		margin-left: -300px;
	}

}

#header {
	@include clearfix();
	background-color: #fff;
	border-bottom: 1px solid $light-gray;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

#logo {
	color: $gray;
	font-family: "futura-pt", futura, "century gothic", sans-serif;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: -1px;
	line-height: 60px;
	float: left;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	width: 50%;

	a {
		color: $gray;

		&:hover {
			color: $primary-color;
		}
	}
}

.controls {
	@include box-sizing(border-box);
	@include clearfix();
	float: left;
	line-height: 60px;
	padding: 10px;
	width: 25%;

	form, input {
		float: left;
	}

	input {
		border: 1px solid $light-gray;
		font-size: 16px;
		height: 38px;
		margin: 0;
		padding: 0 7px;
		@include transition(width .25s ease);
		width: 0px;

		&:focus {
			border: 1px solid $primary-color;
			outline: none;
		}
	}

	button {
		@include border-radius(2px);
		@include transition(background-color .3s ease, color .3s ease);
		background-color: #fff;
		border: none;
		color: $gray;
		cursor: pointer;
		height: 40px;
		float: right;
		font-size: 13px;
		padding: 0;
		width: 40px;

		span {
			display: block;
		}

		&:hover, &.active {
			background-color: $light-gray;
			color: $text-color;
		}

		&:active {
			background-color: $primary-color;
		}
	}

	#open-menu {
		float: left;
		font-family: "futura-pt", futura, "century gothic", sans-serif;
		font-weight: 500;
		padding: 0 15px 0 32px;
		position: relative;
		text-transform: uppercase;
		width: auto;

		i {
			left: 15px;
			position: absolute;
			top: 14px;
		}
	}

	#open-autoplay {
		float: right;
		font-family: "futura-pt", futura, "century gothic", sans-serif;
		font-weight: 500;
		padding: 0 15px;
		position: relative;
		text-transform: uppercase;
		text-decoration: stikethrough;
		width: auto;
	}

}

#loop {
	width: 100%;
}

#no-posts {
	text-align: center;

	h1 {
		margin-bottom: 0;
	}

	h3 {
		margin-top: 0;
	}
}

.post {
	margin: 0 auto 100px;
	//@include transition(width .3s ease);
	width: 600px;

	&:last-child {
		margin-bottom: 0;
	}

	&.playing {
		min-width: 1000px;
		width: 66%;

		img {
			z-index: -1;
			width: 100%;
		}
	}
}

.single {
	margin: 0 auto;
	width: 66%;
}

.youtube {

	.media {
		background-color: #111;
		cursor: pointer;
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;

		img {
			margin-top: -9.4%;
			width: 100%;
		}

		iframe {
			border: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

}

.soundcloud {

	.media {
		background-color: #111;
		cursor: pointer;
		//height: 0;
		//overflow: hidden;
		//padding-bottom: 100%;
		//position: relative;
		text-align: center;

		img {
			display: inline !important;
			margin: 0;
			padding: 0;
			vertical-align: middle;
			width: 338px;
		}

		iframe {
			display: block;
			width: 100%;
		}
	}

	&.playing {

		.media {
			@include border-radius(6px);
			height: 166px;
		}

		img {
			display: none !important;
		}
	}

}

.caption {
	padding: 0 15px 0;
}

.title {
	font-family: "futura-pt", futura, "century gothic", sans-serif; 
	font-size: 30px;
	font-weight: 400;
	margin: 10px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $light-gray;

	&:hover, &:active {
		color: $primary-color;
	}

	a {
		color: $light-gray;

		&:hover, &:active {
			color: $primary-color;
		}
	}
}

.date, .author, .share{
	margin-right: 30px;
	padding-left: 25px;
	position: relative;

	a {
		@include transition(color .3s ease);
		color: $light-gray;

		&:hover {
			color: $primary-color;
		}
	}

	i {
		left: 0;
		position: absolute;
		top: 1px;
	}
}

.comment {
	display: block;
	margin: 10px 0;
	max-width: 285px;
	padding-left: 25px;
	position: relative;

	i {
		left: 0;
		position: absolute;
	}

	p {
		display: inline;
		margin: 0;
	}
}

#pagination {
	margin: 0 auto;
	width: 600px;

	p {
		text-align: center;
	}
}

#load-previous {
	@include border-radius(2px);
	background-color: $gray;
	border: 0;
	color: #fff;
	display: block;
	height: 40px;
	margin: 80px auto 0;
	width: 100%;
}









