$primary-color:  #00cccc;
$secondary-color: #cccccc;
$success-color: #9affcd;

$text-color: #333333;

$ultra-light-gray: #eee;
$light-gray: #999;
$gray: #666;

$body-font: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
$header-font: "futura-pt", futura, "century gothic", sans-serif;