<div class="dashboard">
    <div class="song-list">
        <div class="controls">
            <input placeholder="Search" type="text" ng-model="search.title">
            <button ng-click="newSong();" class="button icon"><i class="ion-plus"></i></button>
        </div>
        <div class="scroll">
            <div class="song" ng-repeat="song in songs | filter:search" ng-click="setPreviewSong(song, $index)" ng-class="{active: song == previewedSong}">
                <div class="image">
                    <img src="{{song.image_url}}" alt="">
                </div>
                <div class="text">
                    <h2>{{song.title}}</h2>
                    <p>{{song.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="song-preview">

        <div ng-show="previewView == 'details'" class="song-preview-details">
            <div class="form-group">
                <label for="source_url">Image</label>
                <img ng-src="{{ preview.image_url ? preview.image_url : 'http://placehold.it/300x200' }}" alt="">
            </div>

            <div class="form-group">
                <label for="source_url">URL</label>
                <input id="source_url" type="text" ng-change="previewSong(preview.source_url)" ng-model="preview.source_url">
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" type="text" ng-model="preview.title">
            </div>
            
            <div class="form-group">
                <label for="genre">Genre</label>
                <select ng-model="preview.genre_id" ng-options="genre.id as genre.name for genre in genres">
                    <option value="">Select</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="text">Text</label>
                <textarea id="text" rows="4" ng-model="preview.text"></textarea>
            </div>

            <div class="annotations">

                <div class="form-group" ng-repeat="annotation in preview.annotations">
                    <label for="genre">{{ $index + 1 }}</label>
                    <div class="annotation">
                        <div class="time">
                            <input type="text" placeholder="0:00:00" ng-model="annotation.time">
                        </div>
                        <div class="comment">
                            <input type="text" ng-model="annotation.text">
                        </div>
                    </div>
                </div>

            </div>

            <button ng-click="postAction(preview)" class="button">{{ preview.status_id ? 'Update' : 'Post Song' }}</button>
        
            <!-- {{preview | json }} -->

        </div>

    <!--     <div class="song-preview-nav">
            <button ng-click="previewView = 'details'" ng-class="{active: previewView == 'details'}">1. Details</button>
            <button ng-click="previewView = 'annotations'" ng-class="{active: previewView == 'annotations'}">2. Annotations</button>
            <button ng-click="previewView = 'twitter'" ng-class="{active: previewView == 'twitter'}">3. Twitter</button>
        </div> -->

    </div>
</div>