.song {
    @include clearfix;
    padding: 80px 0 0;
    margin-bottom: 80px;
    // margin: 0 auto;

    &.soundcloud img {
        display: block;
        margin: 0 auto;
        width: 56.25%;
    }

    &.youtube img {
        display: block;
        margin: 0 auto;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    &.playing img {
        display: none;
    }

    .media {
        cursor: pointer;
        z-index: 1000;
        transition: all .5s ease;
        float: left;
        width: 50%;
        padding-left: 40px;
    }

    .content {
        width: 50%;
        float: left;
        padding: 40px 40px 30px;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
        margin-left: -1px;
    }

    .aspect-ratio {
        background-color: #000;
        overflow: hidden;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        transition: padding .5s ease;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }
    }

    .title {
        font-family: $display-serif;
        font-size: 2rem;
        font-weight: 400;
        z-index: 10;
        transition: all .5s ease;
        margin: 0 0 10px;
        line-height: 1.2; 
        max-width: 600px;

        a { 
            color: #333;
        }
    }

    .date {
        @extend .small-caps;
        margin: 0;
    }

    .caption {
        margin: 0;
        max-width: 400px;
        font-size: 1.125rem;
    }

    hr {
        width: 60px;
        margin: 20px 0 25px;
        border: 0;
        height: 1px;
        background-color: #eee;
    }

    .annotations {
        margin-bottom: 40px;
    }

    .annotation {
        padding: 10px 20px 10px 10px;
        background-color: #fff;
        margin: 0 20px 5px 0;
        border: 1px solid #ccc;
        cursor: pointer;
        
        .time {
            margin-top: 0;
        }

        .comment {
            margin-bottom: 0;
        }
    }

    .meta {
        @extend .small-caps;
        margin: 0 0 10px;
        a {
            color: #ccc;
        }
    }
}