<!-- MASTHEAD -->
<div class="masthead">
    <div class="container container--float">
        <h1 class="masthead__title"><a class="masthead__title__link" href="#/">599</a></h1>
        <nav class="masthead__nav">
            <a href="#/profile" class="masthead__link">Profile</a>
            <a href="sign-out" class="masthead__link">Sign Out</a>
        </nav>
    </div>
    <div class="container container--float container--filter">
        <button class="masthead__action" ng-click="visibleList = 1" ng-class="{'masthead__action--active': visibleList == 1}">Published</button>
        <button class="masthead__action" ng-click="visibleList = 2" ng-class="{'masthead__action--active': visibleList == 2}">Drafts</button>
        <button class="masthead__action" ng-click="visibleList = 3" ng-class="{'masthead__action--active': visibleList == 3}">Broken ({{error.length}})</button>        
        <button class="masthead__action masthead__action--right" ng-click="toggleModal()"><i class="ion-plus "></i> New Post</button>
    </div>
</div>

<!-- LISTS -->
<div class="list" ng-show="visibleList == 1">
    <section ng-show="published != 'false'" ng-repeat="song in published" data="song" class="list__item song">
        <div class="container container--flex">
            <div class="song__media">
                <div class="aspect-ratio" ng-class="{'aspect-ratio--youtube': song.source == 'youtube', 'aspect-ratio--soundcloud': song.source == 'soundcloud'}">
                    <img class="song__image" src="{{song.image_url}}" alt="">
                </div>
            </div>
            <div class="song__content">
                <h2 class="song__title">{{song.title}}</h2>
                <p class="song__text">{{song.text}}</p>
                <div class="song__actions">
                    <button ng-click="editSong(song, $index)" class="song__button song__edit"><i class="ion-edit"></i></button>
                    <div delete-song class="delete">
                        <button class="song__button delete__initiate"><i class="ion-trash-a"></i></button>
                        <button ng-click="delete(published, song, $index)" class="delete__confirm delete__confirm--delete">Delete</button>
                        <button ng-click="cancel()" class="delete__confirm delete__confirm--cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="list__empty container" ng-hide="published != 'false'">Nothing Published</p>
</div>

<div class="list" ng-show="visibleList == 2">
    <section ng-show="draft != 'false'" ng-repeat="song in draft" data="song" class="list__item song">
        <div class="container container--flex">
            <div class="song__media">
                <div class="aspect-ratio" ng-class="{'aspect-ratio--youtube': song.source == 'youtube', 'aspect-ratio--soundcloud': song.source == 'soundcloud'}">
                    <img class="song__image" src="{{song.image_url}}" alt="">
                </div>
            </div>
            <div class="song__content">
                <h2 class="song__title">{{song.title}}</h2>
                <p class="song__text">{{song.text}}</p>
                <div class="song__actions">
                    <button ng-click="editSong(song, $index)" class="song__button song__edit"><i class="ion-edit"></i></button>
                    <div delete-song class="delete">
                        <button class="song__button delete__initiate"><i class="ion-trash-a"></i></button>
                        <button ng-click="delete(draft, song, $index)" class="delete__confirm delete__confirm--delete">Delete</button>
                        <button ng-click="cancel()" class="delete__confirm delete__confirm--cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="list__empty container" ng-hide="draft != 'false'">No Drafts</p>
</div>

<div class="list" ng-show="visibleList == 3">
    <section ng-show="error != 'false'" ng-repeat="song in error" data="song" class="list__item song">
        <div class="container container--flex">
            <div class="song__media">
                <div class="aspect-ratio" ng-class="{'aspect-ratio--youtube': song.source == 'youtube', 'aspect-ratio--soundcloud': song.source == 'soundcloud'}">
                    <img class="song__image" src="{{song.image_url}}" alt="">
                </div>
            </div>
            <div class="song__content">
                <h2 class="song__title">{{song.title}}</h2>
                <p class="song__text">{{song.text}}</p>
                <div class="song__actions">
                    <button ng-click="editSong(song, $index)" class="song__button song__edit"><i class="ion-edit"></i></button>
                    <div delete-song class="delete">
                        <button class="song__button delete__initiate"><i class="ion-trash-a"></i></button>
                        <button ng-click="delete(error, song, $index)" class="delete__confirm delete__confirm--delete">Delete</button>
                        <button ng-click="cancel()" class="delete__confirm delete__confirm--cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="list__empty container" ng-hide="error != 'false'">Nothing Broken...Yay!</p>
</div>

<!-- MODAL -->
<div id="new-edit" class="modal" ng-show="modalOpen" ng-click="toggleModal($event, 'modal ng-scope')">
    <div class="modal__preview">
        <div class="aspect-ratio" ng-class="{'aspect-ratio--youtube': preview.source == 'youtube', 'aspect-ratio--soundcloud': preview.source == 'soundcloud'}">
            <img class="modal__image" ng-show="preview.image_url" ng-src="{{preview.image_url}}">
        </div>
    </div>
    <div class="modal__form">
        <div class="form-group">
            <label for="source_url" class="form-group__label">URL</label>
            <input id="source_url" class="form-group__control form-group__control--input" type="text" ng-change="previewSong(preview.source_url)" ng-model="preview.source_url">
        </div>

        <div class="form-group">
            <label for="title" class="form-group__label">Title</label>
            <input id="title" class="form-group__control form-group__control--input" type="text" ng-model="preview.title">
        </div>
        <div class="form-group">
            <label for="genre" class="form-group__label">Genre</label>
            <select id="genre" class="form-group__control form-group__control--select" ng-model="preview.genre_id" ng-options="genre.id as genre.name for genre in genres">
                <option value="">Select</option>
            </select>
        </div>
        <div class="form-group">
            <label for="text" class="form-group__label">Text</label>
            <textarea id="text" class="form-group__control form-group__control--textarea" rows="3" ng-model="preview.text"></textarea>
        </div>
        <div class="form-group">
            <label for="status" class="form-group__label">Status</label>
            <select id="status" class="form-group__control form-group__control--select" ng-model="preview.status_id" ng-options="status.id as status.name for status in statuses">
                <option value="">Select</option>
            </select>
        </div>


        <div class="form-group" ng-show="preview.source == 'youtube'">
            <label class="form-group__label">Music Video</label>
            <label for="music_video-yes" class="form-group__label form-group__label--radio"><input id="music_video-yes" name="music_video-yes" class="form-group__control form-group__control--radio" type="radio" ng-model="preview.highlighted" value="1"> Yes</label>
            <label for="music_video-no" class="form-group__label form-group__label--radio"><input id="music_video-no" name="music_video-no" class="form-group__control form-group__control--radio" type="radio" ng-model="preview.highlighted" value="0"> No</label>
        </div>

        <button ng-show="!preview.id" ng-click="submit(preview)" class="button">{{ preview.status_id == 2 ? 'Save Draft' : 'Post Song' }}</button>
        <button ng-show="preview.id" ng-click="update(preview, preview.$index)" class="button">Update Song</button>
    </div>
</div>
