<table class="list" ng-show="songs.length > 0">
    <tbody>
        <tr ng-repeat="song in songs" trigger-modal song="song">
            <td class="list__image"><img src="{{song.image_url}}" alt=""></td>
            <td class="list__title">
                <p class="list__song-title">{{song.title}}</p>
                <p class="list__song-text">{{song.text}}</p>
            </td>
            <td class="list__genre">{{song.genre_name}}</td>
            <td class="list__created-at">{{song.created_at}}</td>
        </tr>
    </tbody>
</table>

<p class="list-null" ng-hide="songs.length > 0">Nada...</p>