<section class="playlist">
    <song class="song {{ song.source }}" ng-repeat="song in playlist.songs">
        <section class="media">
            <img ng-src="{{ song.image }}" alt="{{ song.title }}">
        </section>
        <section class="caption">
            <h2 ng-bind="song.title"></h2>
            <p class="meta"><a ng-href="#/{{ song.author }}">{{ song.author }}</a><span ng-show="song.created"> <span class="divider">&bull;</span>  <span>Added <span am-time-ago="song.created"></span></span></p>
        </section>
    </song>
</section>

<form ng-submit="addSong(newSongUrl)">
    <input type="text" ng-model="newSongUrl" placeholder="Paste a URL from Youtube or SoundCloud">
    <button type="submit">Add</button>
</form>


<pre>{{playlist | json}}</pre>