<div class="masthead">
    <div class="container container--float">
        <h1 class="masthead__title"><a class="masthead__title__link" href="#/">599</a></h1>
        <nav class="masthead__nav">
            <a href="#/new" ng-click="reset();" class="masthead__link"><i class="ion-plus "></i> New Post</a>
            <a href="#/profile" class="masthead__link">Profile</a>
            <a href="/sign-out" class="masthead__link">Sign Out</a>
        </nav>
    </div>
</div>
<div class="preview">
    <img class="preview__image" ng-src="{{ preview.image_url ? preview.image_url : 'http://placehold.it/500x350' }}" alt="">
</div>
<div class="form" ng-form>

    <div class="form-group">
        <label for="source_url" class="form-group__label">URL</label>
        <input id="source_url" class="form-group__control form-group__control--input" type="text" ng-change="previewSong(preview.source_url)" ng-model="preview.source_url">
    </div>

    <div class="form-group">
        <label for="title" class="form-group__label">Title</label>
        <input id="title" class="form-group__control form-group__control--input" type="text" ng-model="preview.title">
    </div>
    
    <div class="form-group">
        <label for="genre" class="form-group__label">Genre</label>
        <select id="genre" class="form-group__control form-group__control--select" ng-model="preview.genre_id" ng-options="genre.id as genre.name for genre in genres">
            <option value="">Select</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="text" class="form-group__label">Text</label>
        <textarea id="text" class="form-group__control form-group__control--textarea" rows="3" ng-model="preview.text"></textarea>
    </div>

    <div class="form-group">
        <label for="status" class="form-group__label">Status</label>
        <select id="status" class="form-group__control form-group__control--select" ng-model="preview.status_id" ng-options="status.id as status.name for status in statuses">
            <option value="">Select</option>
        </select>
    </div>

    <button ng-click="submit(preview)" class="button">{{ preview.status_id == 2 ? 'Save Draft' : 'Post Song' }}</button>

</div>