<div class="masthead">
    <div class="container">
        <h1 class="masthead__title">599</h1>
        <p class="masthead__date">{{ date }}</p>
        <button class="masthead__new">
            <i class="ion-plus "></i> New
        </button>
    </div>
</div>
<div class="list">
    <section ng-repeat="song in songs" data="song" class="list__item song">
        <div class="container">
            <div class="song__media">
                <img class="song__image" src="{{song.image_url}}" alt="">
            </div>
            <div class="song__content">
                <h2 class="song__title">{{song.title}}</h2>
                <p class="song__text">{{song.text}}</p>
            </div>
        </div>
    </section>
</div>
