$border: 1px solid #bbb;

$sans-serif: "open sans", "aktiv-grotesk-std", sans-serif;
$serif: "minion-pro", serif;
$display-serif: "minion-pro-display", serif;

$text-color: #222;
$link-color: #0cc;
$brand-color: #0cc;

$gr-l: .61803398875 * 100%;
$gr-s: 100% - $gr-l;