.login {
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-backface-visibility: hidden;
    transform: translate3d(-50%, -50%, 0);
}

.dropdown {
    position: relative;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;

    &.is--open {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #fff;

        .dropdown__menu {
            display: block;
        }
    }
    
    &__menu {
        background-color: #fff;
        display: none;
        position: absolute;
        min-width: 150px;
        right: -1px;
        border: 1px solid #ccc;
        border-radius: 3px 0 3px 3px;
        padding: .5rem 0;
        top: 40px;
        z-index: 1;
    }

    &__title {
        cursor: pointer;
        padding: 0 .75rem;
        border-bottom: 1px solid #fff;
        z-index: 2;
        position: relative;
        display: block;

        i {
            color: #ccc;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        line-height: 2rem;

        a {
            display: block;
            padding: 0 1rem;

            &:hover {   
                background-color: $hover-color;
            }
        }
    }
}

.toolbar {
    @include clear;
    line-height: 2.5rem;
    padding: 0 2rem;
    position: absolute;
    z-index: 50;
    top: 0;
    width: 100%;
    left: 0;

    &__title {
        float: left;
    }

    &__group {
        @include clear;
        float: right;
    }

    &__link {
        float: left;
        margin: 0 .75rem 0 0;
    }

    &__dropdown {
        float: left;
    }
}

.dashboard {
    padding: 4rem 0 8rem;
}

.settings {
    max-width: 33%;
    margin: 0 auto;

    &__group {
        @include clear;
        margin: 15vh 0;
    }
}

.tab-group {
    @include clear;
    padding: 0 2rem;
}

.tab {
    float: left;
    margin-right: 1.5rem;
    padding-bottom: 5px;

    &.is--active {
        color: $text-color;
        border-bottom: 2px solid $text-color;
        padding-bottom: 3px;
    }
}

.list {
    table-layout: fixed;
    width: 100%;
    font-size: .875rem;
    margin-top: 2rem;

    img {
        max-width: 100%;
        display: block;
    }

    td {
        vertical-align: top;
    }

    th {
        text-align: left;
        padding: 0 1rem 1rem;
        cursor: pointer;
    }

    tr {
        cursor: pointer;
    }

    tr:hover {
        background-color: #eee;
    }

    &__image {
        width: 10%;
        padding: 1rem 0 1rem 2rem;
    }   

    &__title {
        width: 60%;
        padding: 1rem;
    }

    &__song-title {
        font-size: 16px;
        @include ellipsis;
        font-weight: 700;
        color: #222;
        margin: 0;
    }

    &__song-text {
        margin: 0;
        font-size: .875rem;
        color: $text-color;
    }

    &__genre {
        width: 15%;
        padding: 2.5rem 1rem 1rem;
        @include ellipsis;
    }

    &__created-at {
        width: 15%;
        padding: 2.5rem 1rem 1rem;
        @include ellipsis;
    }
}