* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "consolas", monospace;
    color: $text-color;
    line-height: 1.5;
    background-color: #fff;
}

a {
    color: $brand-color;
    text-decoration: none;
}

.ellipsis {
	@include ellipsis;
}