* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "minion-pro", monospace;
    color: $text-color;
    line-height: 1.5;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: $text-color;
}