

.bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 60px;
	height: 100%;
	border-right: 1px solid #eee;
}

.control-group {
	position: absolute;
	width: 100%;
	
	&--site {
		top: 0;
	}

	&--player {
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}

	&.is--playing {
		.control--play {
			display: block;
		}
	}

	&.is--paused {
		.control--pause {
			display: block;
		}
	}

	&.is--loading {
		.control--loading {
			display: block;
		}
	}
}

.control {
	width: 100%;
	line-height: 40px;
	height: 40px;
	border: 0;
	padding: 0;
	display: block;
	margin: 0;
	background-color: transparent;
	text-align: center;	

	&--home {
		line-height: 60px;
		height: 60px;
		font-size: 1.25rem;
		color: $text-color;
	}

	&--search {
		font-size: 1.25rem;
	}

	&--play {
		display: none;
	}

	&--pause {
		display: none;
	}

	&--loading {
		display: none;

		i:before {
			animation: spin 1s infinite linear;
			display: block;
		}
	}

	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(359deg); } 
	}
}