.form-group {
    margin-bottom: 1rem;
    
    &__label {
        color: #ccc;
        display: block;
        font-size: .875rem;
        margin-bottom: .25rem;
    }

    &__control {
        background-color: #fff;
        display: block;
        line-height: 1rem;
        padding: .5rem 1rem;
        border-radius: 4px;
        // border: 0;
        border: 1px solid #ccc;
        width: 100%;
    }

}