.hero {
    width: 50%;
    margin: 0 auto;
    padding: 33vh 2rem;
    transition: background-color .25s ease;
}

.paginate {
	background-color: transparent;
	border: 1px solid $brand-color;
	padding: .5rem 3rem;
	margin: 6rem auto 6rem;
	display: block;
	text-align: center;
	border-radius: 3px;
	color: $brand-color;
}
