$text-color: #777;
$link-color: #0cc;
$brand-color: #0cc;
$danger-color: #c00;
$hover-color: #eee;

$border: 1px solid #ddd;

$gr-l: .61803398875 * 100%;
$gr-s: 100% - $gr-l;

$content-width: 66%;
$min-content-width: 600px;
$max-content-width: 1200px;