<div class="playlist">
    <div class="song" ng-repeat="song in songs track by $index" data-source="{{ song.source }}" data-source-id="{{ song.source_id }}" data-source-url="{{ song.source_url }}">
        <div class="song__inner">
            <div class="song__meta">
                <a href="#/author/{{ song.user_slug }}" class="song__author">{{ song.user_name }}</a>
                <span class="song__date" am-time-ago="song.created_at"></span>
            </div>
            <div class="song__media">
                <div class="aspect-ratio aspect-ratio--{{ song.source }}">
                    <img src="{{ song.image_url }}" alt="" class="song__image">
                </div>
                <div class="song__overlay" ng-click="play(song)">
                    <button class="song__play"><i class="ion-play"></i></button>
                </div>
            </div>
            <div class="song__info">
                <h2 class="song__title">{{ song.title }}</h2>
                <p class="song__text">{{ song.text }}</p>
            </div>
        </div>
    </div>
</div>